<!--The content below is only a placeholder and can be replaced.-->
<!-- hELLO
<ul>

  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>

<div *ngIf="afAuth.authState | async; let user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <img [src]="user.photoURL" alt="Preivew"> 
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="login()">Login with Google</button>
    </ng-template> -->

<router-outlet></router-outlet>